<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card">
    <div class="card-header">
      <h1 class="text-center">New Produto</h1>
    </div>
    <div class="card-body">
      <%= render 'form', produto: @produto %>
    </div>
    <div class="card-footer">
      <%= link_to 'Voltar', produtos_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
